.display-type
    display: flex
    align-items: center

    &__btn
        margin-right: remSize(12px)
        position: relative
        width: remSize(28px)
        height: @width
        cursor: pointer

        &:last-child
            margin-right: 0

        &:hover

            & .svg-icon
                fill: $emerald

        &:active

            & .svg-icon
                fill: $dark-emerald

        & .svg-icon
            fullSize()
            fill: $dark-blue
            transition: fill $t-default

        &.is-active
            cursor: default
            pointer-events: none

            & .svg-icon
                fill: $emerald