.filter

    &__title-wrapper
        margin-top: remSize(-12px)
        margin-left: remSize(-16px)
        padding: remSize(12px) remSize(16px)
        width: s("calc(100% + (%s * 2))", remSize(16px))
        color: $white
        background-color: $blue
        box-sizing: border-box

    &__title
        font-size: remSize(15px)
        letter-spacing: remSize(0.4px)