.form-input
    margin-bottom: remSize(24px)

    &__title
        margin-bottom: remSize(8px)
        font-weight: 500
        color: $dark-blue-2
        letter-spacing: remSize(0.2px)

    &__description
        line-height: 1.4
        font-size: remSize(14px)
        color: $gray

    &__wrapper
        margin-top: remSize(16px)
        position: relative
        display: block

    &__input
        width: 100%

        &--textarea
            height: remSize(120px)

    &__error-message
        margin-top: remSize(8px)
        display: block
        font-size: remSize(14px)
        color: $red