input
    padding: remSize(6px) remSize(12px)
    display: inline-block
    font-size: remSize(15px)
    border: remSize(1px) solid $gray
    border-radius: $default-radius
    box-sizing: border-box
    transition: border $t-default
    outline: none

    &:focus
        border-color: $emerald