.inputs-list-item
    display: block

    &__input
        width: 100%

    &__error-message
        margin-top: remSize(8px)
        display: block
        font-size: remSize(13px)
        color: $red