.simple-preview-counterparty
    margin-bottom: remSize(8px)
    display: flex
    align-items: center

    &:last-child
        margin-bottom: 0

    &__name
        margin-right: remSize(6px)
        color: $emerald

    &__id
        font-size: remSize(12px)
        color: $gray