textarea
    padding: remSize(10px) remSize(12px)
    display: inline-block
    line-height: 1.4
    font-size: remSize(15px)
    border: remSize(1px) solid $gray
    border-radius: $default-radius
    box-sizing: border-box
    transition: border $t-default
    resize: vertical
    outline: none

    &:focus
        border-color: $emerald