<!DOCTYPE html>
<html lang="ru">

{% include 'general/head.html.twig' %}

<body>

<div class="page-wrapper">
    <div class="page-content">

        <main class="main">

            {% block content %}{% endblock %}

        </main>

    </div>

</div>

</body>
</html>