.items-list
    margin: remSize(16px) 0

    &__empty-text
        font-size: remSize(18px)
        font-weight: 500
        color: $red
        letter-spacing: remSize(0.2px)

    & .local-preloader
        height: remSize(160px)

        &__indicator
            top: 50%
            width: remSize(60px)
            height: @width