.message
    width: 100%
    height: 100vh

    &__title
        max-width: 100%
        width: remSize(720px)
        centered("wrong-center")
        text-align: center

        &.is-error
            color: $red