// Open Sans

@font-face
    font-family: "Roboto"
    src: url($font-path + "Roboto-Bold.woff") format("woff"), url($font-path + "Roboto-Bold.woff2") format("woff2")
    font-weight: 700
    font-style: normal

@font-face
    font-family: "Roboto"
    src: url($font-path + "Roboto-Medium.woff") format("woff"), url($font-path + "Roboto-Medium.woff2") format("woff2")
    font-weight: 500
    font-style: normal

@font-face
    font-family: "Roboto"
    src: url($font-path + "Roboto-Regular.woff") format("woff"), url($font-path + "Roboto-Regular.woff2") format("woff2")
    font-weight: 400
    font-style: normal

$default-font = "Roboto", sans-serif

// End Open Sans

// KaushanScript

@font-face
    font-family: "KaushanScript"
    src: url($font-path + "KaushanScript-Regular.woff") format("woff"), url($font-path + "KaushanScript-Regular.woff2") format("woff2")
    font-weight: 400
    font-style: normal

$kaushan-font = "KaushanScript", sans-serif

// End KaushanScript