{% extends 'mailings/layouts/index.html.twig' %}

{% import 'mailings/macros/titles.html.twig' as titles %}
{% import 'mailings/macros/indents.html.twig' as indents %}

{% block content %}

    {% include 'mailings/blocks/manager.html.twig' %}
    <tr>
        <td style="padding: 16px 0 18px; line-height: 1.4;">
            <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; width: 100%;">
                <tr>
                    <td style="padding: 0 16px;">
                        Добрый день, предлагаем вашему вниманию спецстали (инструментальные, конструкционные, нержавеющие, жаропрочные).
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {{ titles.row('Цены:') }}
    <tr>
        <td style="padding-bottom: 32px; line-height: 1.4;">
            <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="100%">
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Марки стали:</b> Х12МФ, Х12Ф1, Х6ВФ, 5ХНМ, 4Х5МФС, 4Х4ВМФС, 3Х3М3Ф, 3Х2В8Ф, 5ХВ2С, 6ХВ2С
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>150 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Марки стали:</b> У7А, У8А, У9А, У10А, У12А, ХВГ, 9ХС, 9Х1, ШХ15, ШХ15СГ, АРМКО
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>75,30 руб.</b></span> /кг
                    </td>
                </tr>
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Марки стали:</b> 30ХГСА, 12ХН3А, 18Х2Н4МА(ВА), 20Х2Н4А, чугун СЧ20
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>54,79 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Марки стали:</b> Ст3, Ст10, Ст20, Ст35, Ст45, 40Х, 65Г, 60С2А, 50ХФА
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>43,49 руб.</b></span> /кг
                    </td>
                </tr>
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Марки стали:</b> Р6М5, Р18, Р6М5К5, Р9М4К8
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>650,99 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Марки стали:</b> ЭИ435(ХН78Т), ЭИ437б(ХН77ТЮР), ЭП56(09Х16Н4Б), ЭИ481-Ш(37Х12Н8Г8МФБ)
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>151,99 руб.</b></span> /кг
                    </td>
                </tr>
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Марки стали:</b> Х20Н80, Х15Н60, Х23Ю5Т
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>900,99 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Марки стали:</b> 10864, 10880, 10890, 10895, 20860
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>130,10 руб.</b></span> /кг
                    </td>
                </tr>
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Марки стали:</b> 20Х13, 30Х13, 40X13, 95Х18, 14Х17Н2
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>121,99 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Марки стали:</b> 12Х18Н10Т, 20Х23Н18, 10Х17Н13М2Т, 06ХН28МДТ
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>147,09 руб.</b></span> /кг
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {% include 'mailings/blocks/services.html.twig' %}
    {{ indents.big() }}
    {% include 'mailings/blocks/stores.html.twig' %}
    {% include 'mailings/blocks/note.html.twig' %}

{% endblock %}