{% macro automatic() %}
    <tr>
        <td style="padding: 0 16px 24px; line-height: 1.4; font-size: 13px; text-align: center;">
            Это сообщение было составлено автоматически. Пожалуйста, не&nbsp;отвечайте на&nbsp;него.
            <br>
            Если вас что-то заинтересовало, свяжитесь с вашим менеджером, указанном в&nbsp;этом сообщении.
        </td>
    </tr>
{% endmacro %}