/*
	above - ver. 1.0.0
	-----
	Миксин для удобной работы с медиа запросами, связанными с минимальной шириной.
	Например:
	
		обычно записывается 
			@media (min-width: 768px)
				// code here...
				
		при помощи миксина
			+above(768px)
				// code here...
*/

above($width)
    @media (min-width $width)
        {block}