/*
	below - ver. 1.0.0
	-----
	Миксин для удобной работы с медиа запросами, связанными с максимальной шириной.
	Например:
	
		обычно записывается 
			@media (max-width: 1024px)
				// code here...
				
		при помощи миксина
			+below(1024px)
				// code here...
*/

below($width)
    @media (max-width $width)
        {block}
