/*
  centered - ver. 1.0.0
  -----
  Миксин для центрирования элемента внутри другого, может центрировать элемент по различным сторонам, а не только по центру.
  Можно вызвать без параметра, тогда элемент отцентрируется ровно посередине.
  В параметр можно передать значения в зависимости от которых он будет позиционироваться:
    1. top-left - верхний левый угол
    2. top-center - сверху по центру
    3. top-right - верхний правый угол
    4. left - слево по центру
    5. center (дефолтное значение) - центр
    6. right - справа по центру
    7. wrong-left - слево по центру, но немного смещено наверх
    8. wrong-center - центр, но немного смещено наверх
    9. wrong-right - справа по центру, но немного смещено наверх
    10. bottom-left - нижний левый угол
    11. bottom-center - снизу по центру
    12. bottom-right - нижний правый угол

*/

centered($position = "center")
    position: absolute

    if $position == "top-left"
        top: 0
        left: 0

    if $position == "top-center"
        top: 0
        left: 50%
        transform: translateX(-50%)

    if $position == "top-right"
        top: 0
        right: 0

    if $position == "left"
        top: 50%
        left: 0
        transform: translateY(-50%)

    if $position == "center"
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    if $position == "right"
        top: 50%
        right: 0
        transform: translateY(-50%)

    if $position == "wrong-left"
        top: 45%
        left: 0
        transform: translateY(-50%)

    if $position == "wrong-center"
        top: 45%
        left: 50%
        transform: translate(-50%, -50%)

    if $position == "wrong-right"
        top: 45%
        right: 0
        transform: translateY(-50%)

    if $position == "bottom-left"
        left: 0
        bottom: 0

    if $position == "bottom-center"
        left: 50%
        bottom: 0
        transform: translateX(-50%)

    if $position == "bottom-right"
        right: 0
        bottom: 0