/*
	colWidth - ver. 1.0.0
	-----
	Миксин для создания колонок.
	Принемает в себя 4 параметра:
		1. $c (number) (обязательный) -  Сколько колонок будет занимать элемент по ширине
		2. $max (number) (обязательный) - Сколько всего будет колонок
		3. $left (размер в пикселях) - Ширина которая будет отнята у элемента с левой стороны для создания отступов
		3. $right (размер в пикселях) - Ширина которая будет отнята у элемента с правой стороны для создания отступов
	При указаниие размеров, которые будут отниматься у колонки с разных сторон, отступы сами не появятся, для этого уже нужно будет указать такой же размер отступов в margin или padding.
	Все размеры отступов указанные в пикселях, переводятся в rem при помощи миксина - remSize.
	
*/

colWidth($c, $max, $left = 0, $right = 0)
	$left = remSize($left)
	$right = remSize($right)
	$width = $c * (100% / $max)
	width: s("calc(%s - (%s + %s))", $width, $left, $right)
	box-sizing: border-box