/*
	fullSize - ver. 1.0.0
	-----
	Миксин для того чтобы растянуть элемент на весь размер родителя с позиционированием отличным от static
	Может принимать в себя параметр отвечающий за расположение изображений заданных через стили.
	Они центрируются, убирается повтор изображения и масштабируется с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока.
*/

fullSize($type = "none")
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  
    if ($type == "img")
        background-repeat: no-repeat
        background-position: 50%
        background-size: cover