/*
	proportional - ver. 1.0.0
	-----
	Миксин позволяющий создавать элементы в поределенных пропорциях.
	Принимает в себя параметры:
		1. $width (обязательный) - Размер ширины от которой будут производится расчеты
		2. $w (обязательный) - Коэффициент соотношения по ширине
		3. $h (обязательный) - Коэффициент соотношения по высоте
	Размер который указан в пикселях переделывается в rem при помощи миксина remSize.
	Некорректно работает с размерами заданные в %. 
*/

proportional($width, $w, $h)
    $type = unit(width)

    if $type == "px"
        width: remSize($width)
        min-height: remSize(($width * $h) / $w)
    else
   	    width: $width
   	    min-height: ($width * $h) / $w