/*
	remSize - ver. 1.0.0
	-----
	Миксин, котороый преобразовывает размер заданный в пикселях в rem относительно стандартного размера шрифта.
	Не будет преобразовывать размеры меньше или равные от -6 до 6 px.
	Это связанно с тем, что некоторые браузеры некорректно работают с маленькими значениями rem.

*/

remSize($size)
    if ($size <= 6px && $size >= -6px) || ($size <= 6 && $size >= -6)
        unit($size, px)
    else
        unit(($size / $fz-mid), rem)