// swiperWrapper - миксин более удобной записи обязательных стилей для обертки слайдера от плагина swiper

swiperWrapper()
    position: relative
    display: flex
    width: 100%
    box-sizing: content-box