<tr>
    <td style="padding: 12px 16px 16px; line-height: 1.4; text-align: right; background-color: #feb600;">
        <b>Ваш менеджер:</b> Максимов Михаил Юрьевич |
        <a style="color: #000000; white-space: nowrap" href="tel:+74950552562">+7 (495) 055-25-62</a> |
        <a style="color: #000000; white-space: nowrap" href="tel:+79037769143">+7 (903) 776-91-43 (Теле2)</a> |
        <a style="color: #000000; white-space: nowrap" href="tel:+79037088922">+7 (903) 708-89-22 (Билайн)</a> |
        <a style="color: #000000;" href="mailto:mihail.m@metalmax.ru">mihail.m@metalmax.ru</a>
    </td>
</tr>