<tr>
    <td style="padding: 8px 0 24px; text-align: center;">
        <span style="display: block; padding-bottom: 10px;">
            <span style="display: block; width: 100%; height: 1px; background-color: #e1e1e1;"></span>
        </span>
        <span style="font-size: 18px;"><b>Надеемся увидеть вас в&nbsp;числе наших клиентов.</b></span>
        <span style="display: block; padding-top: 10px;">
            <span style="display: block; width: 100%; height: 1px; background-color: #e1e1e1;"></span>
        </span>
    </td>
</tr>