{% import 'mailings/macros/titles.html.twig' as titles %}

{{ titles.row('Услуги по металлообработке:') }}
<tr>
    <td style="padding: 12px 16px; line-height: 1.4;">
        <a href="http://metalmax.ru/uslugi/plazmennaya-rezka-metalla" target="_blank" style="color: #000000;">Плазменная резка</a>,
        <a href="http://metalmax.ru/uslugi/gazovaya-rezka-metalla" target="_blank" style="color: #000000;">Газовая резка</a>,
        <a href="http://metalmax.ru/uslugi/lazernaya-rezka-metalla" target="_blank" style="color: #000000;">Лазерная резка</a>,
        <a href="http://metalmax.ru/uslugi/lazernaya-rezka-trub" target="_blank" style="color: #000000;">Лазерная резка труб</a>,
        <a href="http://metalmax.ru/uslugi/valcovka-metalla" target="_blank" style="color: #000000;">Вальцовка</a>,
        <a href="http://metalmax.ru/uslugi/gibka-listovoy-stali-profilya-i-trub" target="_blank" style="color: #000000;">Гибка листовой стали, профиля и труб</a>,
        <a href="http://metalmax.ru/uslugi/rezka-i-rubka-sortovogo-prokata" target="_blank" style="color: #000000;">Резка и рубка сортового проката</a>,
        <a href="http://metalmax.ru/uslugi/mekhanicheskaya-obrabotka" target="_blank" style="color: #000000;">Механическая обработка металла</a>,
        <a href="http://metalmax.ru/uslugi/svarka-metalla" target="_blank" style="color: #000000;">Сварка</a>,
        <a href="http://metalmax.ru/uslugi/peskostrujnaya-obrabotka-metalla" target="_blank" style="color: #000000;">Пескоструйная обработка</a>,
        <a href="http://metalmax.ru/uslugi/pokraska-metalla" target="_blank" style="color: #000000;">Покраска металла</a>,
        <a href="http://metalmax.ru/uslugi/nikelirovanie-metalla" target="_blank" style="color: #000000;">Никелирование</a>,
        <a href="http://metalmax.ru/uslugi/olovyanirovanie-metalla" target="_blank" style="color: #000000;">Оловянирование</a>,
        <a href="http://metalmax.ru/uslugi/hromirovanie-metalla" target="_blank" style="color: #000000;">Хромирование</a>,
        <a href="http://metalmax.ru/uslugi/cinkovanie-metalla" target="_blank" style="color: #000000;">Цинкование</a>
    </td>
</tr>