{% extends 'mailings/layouts/index.html.twig' %}

{% import 'mailings/macros/titles.html.twig' as titles %}
{% import 'mailings/macros/indents.html.twig' as indents %}

{% block content %}

    {% include 'mailings/blocks/manager.html.twig' %}
    <tr>
        <td style="padding: 16px 0 18px; line-height: 1.4;">
            <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; width: 100%;">
                <tr>
                    <td style="padding: 0 16px 12px;">
                        Добрый день, предлагаем вашему вниманию услуги по цинкованию металлопроката.
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 16px 12px;">
                        <b>Размер ванн цинкования: Длина: от&nbsp;6м&nbsp;до&nbsp;13м, ширина: от&nbsp;0,7м до&nbsp;2м, глубина: от&nbsp;1,4м до&nbsp;3м.</b>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 16px;">
                        <b>Тольщина покрытия при горячем циновании от&nbsp;40&nbsp;до&nbsp;350мкм, в&nbsp;зависимости от&nbsp;марки стали и&nbsp;размера изделия.</b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {{ titles.row('Цены:') }}
    <tr>
        <td style="padding-bottom: 32px; line-height: 1.4;">
            <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="100%">
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Труба профильная от&nbsp;4&nbsp;мм и&nbsp;больше, максимальная длина 13&nbsp;м.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>34,60 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Труба круглая от&nbsp;4&nbsp;мм и&nbsp;больше, максимальная длина 13&nbsp;м.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>34,60 руб.</b></span> /кг
                    </td>
                </tr>
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Уголок от&nbsp;4&nbsp;мм и&nbsp;больше, максимальная длина 13&nbsp;м.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>34,00 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Швеллер от&nbsp;4&nbsp;мм и&nbsp;больше, максимальная длина 13&nbsp;м.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>34,00 руб.</b></span> /кг
                    </td>
                </tr>
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Двутавр от&nbsp;4&nbsp;мм и&nbsp;больше, максимальная длина 13&nbsp;м.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>31,90 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Арматура от&nbsp;12&nbsp;мм и&nbsp;больше, максимальная длина 13&nbsp;м.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>31,90 руб.</b></span> /кг
                    </td>
                </tr>
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Бухта от&nbsp;8&nbsp;мм и&nbsp;больше, до&nbsp;100&nbsp;кг.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>31,90 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Полоса стальная от&nbsp;40&times;4&nbsp;мм и&nbsp;больше, максимальная длина 13&nbsp;м.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>35,45 руб.</b></span> /кг
                    </td>
                </tr>
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Чугунные изделия</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>35,95 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Лист рифленый, толщина от&nbsp;4&nbsp;мм и&nbsp;больше.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>33,95 руб.</b></span> /кг
                    </td>
                </tr>
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Лист просечно-вытяжной, толщина от&nbsp;4&nbsp;мм и&nbsp;больше.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>33,95 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Детали весом от&nbsp;250 грамм до&nbsp;600&nbsp;грамм.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>38,75 руб.</b></span> /кг
                    </td>
                </tr>
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Мелкие детали (до&nbsp;3&nbsp;кг).</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>36,60 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Тонкостенные изделия, толщина от&nbsp;1,5&nbsp;мм до&nbsp;3&nbsp;мм.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>57,90 руб.</b></span> /кг
                    </td>
                </tr>
                <tr>
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Тонкостенные изделия, толщина от&nbsp;3&nbsp;мм до&nbsp;4&nbsp;мм.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>41,70 руб.</b></span> /кг
                    </td>
                </tr>
                <tr style="background-color: #f4f4f4;">
                    <td style="padding: 12px 16px 16px; width: 64%;">
                        <b>Изделия с&nbsp;использованием сетки более&nbsp;50% поверхности и&nbsp;с&nbsp;диаметром проволоки от&nbsp;5&nbsp;мм и&nbsp;менее.</b>
                    </td>
                    <td style="padding: 12px 16px 16px; width: 36%;">
                        Цена от: <span style="color: #fe8100;"><b>74,90 руб.</b></span> /кг
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 32px;">
            <span style="display: block; padding-bottom: 12px;">
                <span style="display: block; width: 100%; height: 1px; background-color: #e1e1e1;"></span>
            </span>
            <span style="padding: 0 16px 8px; display: block; font-size: 18px; text-align: center;">
                <b>При заказе менее 100&nbsp;кг. минимальная цена 74,90&nbsp;руб. с&nbsp;НДС&nbsp;за&nbsp;1&nbsp;кг.</b>
            </span>
            <span style="padding: 0 16px; display: block; font-size: 15px; text-align: center;">
                Перед размещением заказа надлежит ознакомиться с&nbsp;&laquo;Требованиями к&nbsp;изделиям подлежащим горячему цинкованию по&nbsp;ГОСТ 9.307-89&raquo;.
            </span>
            <span style="display: block; padding-top: 12px;">
                <span style="display: block; width: 100%; height: 1px; background-color: #e1e1e1;"></span>
            </span>
        </td>
    </tr>
    {% include 'mailings/blocks/services.html.twig' %}
    {{ indents.big() }}
    {% include 'mailings/blocks/stores.html.twig' %}
    {% include 'mailings/blocks/note.html.twig' %}

{% endblock %}